@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200&family=Luxurious+Roman&family=Racing+Sans+One&family=Raleway:wght@300&family=Rubik+Glitch&display=swap');

#root {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navigation {
    max-height:150px;
    width:100%;
}

.nav_item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width:100%;
}


.header {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-image: url('./arcade.jpg');
    background-size: cover;
    height: 160px;
    width: 100%;
    font-family:'Raleway', sans-serif;
}

.text {
    color:#fff;
    text-decoration: none;
    font-size: 1.2em;
    justify-content: center;
    position: relative;
    padding:25px;
    top:50px;
    right:30px;
}

.title {
    font-size: 3.5em;
    position:relative;
    bottom:175px;
    left:20px;
    color:#fff;
    font-family: 'Luxurious Roman', cursive;
    width:50%;
}

.title_text {
    color:#272323;
    font-family: 'Luxurious Roman', cursive;
    position:relative;
    bottom:190px;
    left:-590px;
    text-align: center;
    font-family: 'K2D', sans-serif;
    color:#fff;
    font-size: 1.2em;
} 

.content {
    background-image: url('./background2.jpg');
    width:100%;
    height:100vh;
}

.footer {
    height:100px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width:100%;
    height:10vh;
    background-color: #272a2d;
}

.rightsAdnotations {
    font-size: 1.1em;
    color:#fff;
}

.socialsIcons {
    font-size: 1.5em;
    position:relative;
    right:30px;
}

.basimImage {
    border-radius: 12px;
    width:30%;
}

.aboutMirage {
    color:#fff;
}





